<section class="side-nav is-hidden-mobile">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a (click)="clickPerfil()" [ngClass]="{'is-active' : statusPerfil}" routerLink="profile">Perfil</a></li>
    </ul>
    <ul class="menu-list">
      <li><a (click)="clickPreferencias()" [ngClass]="{'is-active': statusPreferencias}" routerLink="preferences">Preferencias</a></li>
    </ul>
  </aside>
</section>
<div class="tabs is-hidden-desktop is-toggle is-fullwidth">
  <ul>
    <li class="has-background-white-ter" (click)="clickPerfil()" [ngClass]="{'is-active' : statusPerfil}" routerLink="profile"><a>Perfil</a></li>
    <li class="has-background-white-ter" (click)="clickPreferencias()" [ngClass]="{'is-active' : statusPreferencias}"><a>Preferencias</a></li>
  </ul>
</div>