<div class="columns">
  <div class="column is-one-third is-offset-one-third card">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/assets/images/card-image.jpg" alt="Imagen de fondo">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">¡Bienvenido!</p>
            <p class="subtitle is-6">Es momento de configurar tu espejo</p>
          </div>
        </div>
        <div class="content">
          <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm?.value)">
            <div class="field">
              <label class="label">ID</label>
              <div class="control has-icons-left has-icons-right">
                <input (ngModel)="id" name="id" class="input" type="text" placeholder="Ingresa tu ID">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success"></p>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input (ngModel)="password" name="password" class="input" type="password" placeholder="Ingresa la contraseña">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success"></p>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Ingresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>